@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');

:root{
    --pink: #f4b8e4;
    --yellow: #fde68a;
    --green: #b5c489;
    --blue: #b4e1e9;
    --purple: #c6b9f7;
    --black: #02020a;
    --white: #f1edee;
}

body{
    font-family: 'Handjet', sans-serif;
    background-color: var(--pink);
    text-align: center;
}

p{
    font-size: 15px;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 25px;
}

.color-btn{
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Handjet', sans-serif;
}

#counter-btn{
    z-index: 10000;
    position: absolute;
    background: transparent;
    border: none;
    transform: translate(-198px, 186px);
    cursor: pointer;
}

#counter-img{
    width: 300px;
    height: auto;
}

#reset-btn{
    z-index: 10000;
    position: absolute;
    background: transparent;
    border: none;
    transform: translate(-114px, 161px);
    cursor: pointer;
}

#counter-btn:active{
    transform: translate(-198px, 186px) scale(0.98);
}

#reset-btn:active{
    transform: translate(-114px, 161px) scale(0.96);
}

#count-display{
    color: var(--white);
    font-size: 47px;
    text-align: right;
    width: 150px;
    position: absolute;
    transform: translate(-220px, 67px);
    z-index: 99999;
    font-family: 'Handjet', sans-serif;
    background: transparent;
    border: none;
    opacity: 0.77;
}

#prev-btn{
    position: absolute;
    z-index: 10000;
    transform: translate(-190px, 25px);
}

#next-btn{
    position: absolute;
    z-index: 10000;
    transform: translate(170px, -71px);
}

#count-txt{
    position: absolute;
    z-index: 10000;
    transform: translate(-173px, 131px);
    font-family: 'Handjet', sans-serif;
    color: var(--white);
    font-size: 15px;
    background: transparent;
    border: none;
}

#reset-txt{
    position: absolute;
    z-index: 10000;
    transform: translate(-111px, 131px);
    font-size: 15px;
    color: var(--white);
    font-family: 'Handjet', sans-serif;
    background: transparent;
    border: none;
}
.action-btn{
    width: 34px;
    height: 32px;
    align-content: center;
    margin-top: 8px;
}